# Object Oriented Programming in Python 1
## Object Anatomy
## Encapsulation and Hermetization
## Pattern: Borg
## Pattern: Flyweight
---

## 0. Stop using Object Oriented Programming. [Stop... no really just stop...](#stop)
### 0.0 What to use instead 
 - Modules
 - Packages

## 1. [Generic OOP 1](#oop)

### 1.1 Classes and objects
### 1.2 Class methods
### 1.3 Encapsulation
   
## 2. [Pythonic OOP](#pythonic)
### 2.1 Hermetization and Private Members
### 2.2 Properties
### 2.3 Pythonic Object data model
### 2.4 [The Borg Pattern](#borg)
### 2.5 Special Methods
### 2.6 [The Flyweight Pattern](#flyweight)
### 2.7 Data classes
### 2.8 Named Tuples

<a id="stop"></a>

---

## 0. Stop using Object Oriented Programming. Stop... no really just stop ...
### 0.0 What to use instead

### Python Modules

```python
print("Importing "+__name__)

my_variable = 7

def fib(n):   # return Fibonacci series up to n
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result
    
if __name__=='__main__':
    print("Running as a script")
```

In [4]:
import fibmodule

Importing fibmodule

In [5]:
fibmodule.fib(400)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [6]:
from fibmodule import my_variable, fib

In [7]:
my_variable

7

In [8]:
fib(10)

[0, 1, 1, 2, 3, 5, 8]

In [9]:
dir(fibmodule)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'fib',
 'my_variable']

### Python Packages

In [10]:
import sys
print (sys.path)

['C:\\work\\conda\\DataScienceBootcamp2022', 'C:\\Users\\sesa443784\\Miniconda3\\python39.zip', 'C:\\Users\\sesa443784\\Miniconda3\\DLLs', 'C:\\Users\\sesa443784\\Miniconda3\\lib', 'C:\\Users\\sesa443784\\Miniconda3', '', 'C:\\Users\\sesa443784\\Miniconda3\\lib\\site-packages', 'C:\\Users\\sesa443784\\Miniconda3\\lib\\site-packages\\win32', 'C:\\Users\\sesa443784\\Miniconda3\\lib\\site-packages\\win32\\lib', 'C:\\Users\\sesa443784\\Miniconda3\\lib\\site-packages\\Pythonwin', 'C:\\Users\\sesa443784\\Miniconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\sesa443784\\.ipython']

In [12]:
from mypackage import fibmodule2, fibmodule1

mypackage
Importing mypackage.fibmodule2
Importing mypackage.fibmodule1

In [13]:
fibmodule1.fib(25)

[0, 1, 1, 2, 3, 5, 8, 13, 21]

In [14]:
fibmodule2.fib(25)

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368]

### Poor man's polymorphism

In [15]:
from mypackage import fibmodule2 as fib
fib.fib(5)

[0, 1, 1, 2, 3]

---
# You do <span style="color: cyan">*NOT*</span> need Object Oriented Programming for <span style="color: cyan">__*MANAGING NAMESPACES*__</span>
# You are <span style="color: cyan">*NOT*</span> doing Object Oriented Programming <span style="color: cyan">__*UNLESS*__</span> you are <span style="color: cyan">__*BASING*__</span> your code on:
# - <span style="color: cyan">__*hermetization*__</span>
# - <span style="color: cyan">__*polymorphism*__</span>

<br>

# In other words ...
# Your are doing <span style="color: cyan">OOP right</span> if your code logic is in the <span style="color: cyan">__*"."*__</span>

---

# 1 Generic OOP <a id="oop"></a>
## 1.1 Classes and objects

In [16]:
class MyClass:
    i = 12345
    def f(self):
        return 'hello world '+str(self.n)
    def __init__(self, n): 
        self.n = n

In [17]:
o1 = MyClass(1)
o2 = MyClass(2)

In [18]:
o1.i

12345

In [19]:
o2.i

12345

In [20]:
o1.n

1

In [21]:
o2.n

2

In [22]:
o1.f()

'hello world 1'

---
## 1.2 Class methods

In [23]:
def decorator(f):
    def new_function():
        print("Extra Functionality")
        f()
    return new_function

In [24]:
@decorator
def initial_function():
    print("Initial Functionality")

initial_function()

Extra Functionality
Initial Functionality

In [25]:
class MyClass:
    i = 12345
    def f(self):
        return 'hello world '+str(self.n)
    def __init__(self, n): 
        self.n = n
    @classmethod
    def get_i(cls):
        print(cls)
        print(cls.i)

In [26]:
class A:
    i = 7

a = A()

In [27]:
A.i

7

In [28]:
a.i

7

In [29]:
o1 = MyClass(1)
o1.get_i()

<class '__main__.MyClass'>
12345

---
## 1.2 Encapsulation

In [30]:
class Employee:
    pass

john = Employee() # Create an empty employee
# Fill the fields of the record
john.name = 'John Doe'
john.dept = 'computer lab'
john.salary = 1000

In [31]:
john.salary

1000

---
# 2 Pythonic OOP <a id="pythonic"></a>

## 2.1 Hermetization - private members

<br>

## __*<span style="color: cyan">"We are all consentual adults here"</span>*__

<br>

In [32]:
class Employee:
    def __init__(self,name,dept,salary):
        self.__name=name
        self.__dept=dept
        self.__salary=salary
john = Employee('John Doe','computer lab',1000)

In [33]:
john.__salary # error

AttributeError: 'Employee' object has no attribute '__salary'

In [34]:
john._Employee__salary

1000

---
## 2.2 Properties

In [35]:
import math

class Point:
    def __init__(self, x,y):
        self.x=x
        self.y=y

    @property
    def r(self):
        return math.sqrt(self.x*self.x + self.y*self.y)

In [36]:
p = Point(3.0,4.0)

In [37]:
p

In [38]:
p.r

5.0

In [39]:
p.r = 7 # error

AttributeError: can't set attribute

In [40]:
import pandas as pd

data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                 'Lions', 'Lions'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}


football = pd.DataFrame(data)
football

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [41]:
football.games= football.wins + football.losses # error

<ipython-input-41-4026d2440113>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  football.games= football.wins + football.losses # error

In [43]:
football["games"] = football.wins + football.losses
football

   year     team  wins  losses  games
0  2010    Bears    11       5     16
1  2011    Bears     8       8     16
2  2012    Bears    10       6     16
3  2011  Packers    15       1     16
4  2012  Packers    11       5     16
5  2010    Lions     6      10     16
6  2011    Lions    10       6     16
7  2012    Lions     4      12     16

---
## 2.3 Pythonic Object Anatomy

In [44]:
p.__dict__

{'x': 3.0, 'y': 4.0}

In [45]:
Point.__dict__

mappingproxy({'__module__': '__main__',
              '__init__': <function __main__.Point.__init__(self, x, y)>,
              'r': <property at 0x21314ac5680>,
              '__dict__': <attribute '__dict__' of 'Point' objects>,
              '__weakref__': <attribute '__weakref__' of 'Point' objects>,
              '__doc__': None})

---
## 2.4 The Borg Pattern <a id="borg"></a>

### Singleton Anti-Pattern

In [46]:
class Singleton:

    __single = None 

    def __init__(self):
        if not Singleton.__single:
            self.x = 1 
        else:
            raise RuntimeError('A Singleton already exists') 

    @classmethod
    def getInstance(cls):
        if not cls.__single:
            cls.__single = Singleton()
        return cls.__single

In [47]:
s = Singleton.getInstance()

In [48]:
s

In [49]:
s2 = Singleton.getInstance()

In [50]:
s2

In [51]:
q = Singleton() # error

RuntimeError: A Singleton already exists

In [52]:
class Borg:
    __shared_state = {}
    def __init__(self):
        self.__dict__ = self.__shared_state

In [53]:
b1 = Borg()
b1.name = "We are the Borg"

In [54]:
b2 = Borg()
b2.name

'We are the Borg'

---
## 2.5 Special Methods

https://docs.python.org/3/reference/datamodel.html#basic-customization

```python
object.__lt__(self, other)

object.__le__(self, other)

object.__eq__(self, other)

object.__ne__(self, other)

object.__gt__(self, other)

object.__ge__(self, other)

In [55]:
class IntValue:
    def __init__(self, value):
        self.value = value
        
    def __repr__(self):
        return "IntValue(%d)" % (self.value)
    
    def __gt__(self, other):
        return self.value > other.value

In [56]:
a = IntValue(3)
b = IntValue(5)

b > a

True

In [57]:
l = [ a, b ]
l.sort(reverse=True)
l

[IntValue(5), IntValue(3)]

```python

object.__len__ 

object.__iter__

object.__getslice__(self,i,j)

object.__add__ 

object.__sub__ 

object.__mul__ 

# etc.

In [58]:
class IntValue:
    def __init__(self, value):
        self.value = value
        
    def __repr__(self):
        return "IntValue(%d)" % (self.value)
    
    def __gt__(self, other):
        return self.value > other.value
    
    def __add__(self, other):
        return IntValue(self.value + other.value)

In [59]:
a = IntValue(3)
b = IntValue(5)

a + b

IntValue(8)

In [62]:
a = IntValue(3)
b = 5

a + b # error

IntValue(8)

In [63]:
class IntValue:
    def __init__(self, value):
        self.value = value
        
    def __repr__(self):
        return "IntValue(%d)" % (self.value)
    
    def __gt__(self, other):
        return self.value > other.value
    
    def __add__(self, other):
        if type(other) == type(self):
            value = other.value
        else:
            value = other
        return IntValue(self.value + value)

In [64]:
a = IntValue(3)
b = 5

a + b # ok

IntValue(8)

In [65]:
b + a # error

TypeError: unsupported operand type(s) for +: 'int' and 'IntValue'

```python
object.__radd__ 
object.__rsub__
object.__rmul__ 

# etc.

In [66]:
class IntValue:
    def __init__(self, value):
        self.value = value
        
    def __repr__(self):
        return "IntValue(%d)" % (self.value)
    
    def __gt__(self, other):
        return self.value > other.value
    
    def __add__(self, other):
        if type(other) == type(self):
            value = other.value
        else:
            value = other
        return IntValue(self.value + value)

    def __radd__(self, value):
        return IntValue(self.value + value)

In [67]:
a = 3
b = IntValue(5)

a + b

IntValue(8)

In [68]:
import math

class Point:
    def __init__(self, x,y):
        self.x=x
        self.y=y
        
    def length(self):
        return math.sqrt(self.x*self.x + self.y*self.y)
    
    def __len__(self):
        return int(self.length())
    
    @property
    def r(self):
        return self.length()
    
    #repr() : evaluatable string representation of an object (can "eval()" it, meaning it is a string representation that evaluates to a Python object)
    def __repr__(self):
        return "Point(%s, %s)" % (self.x, self.y)

In [69]:
p = Point(3,4)

In [70]:
len(p)

5

In [71]:
p

Point(3, 4)

In [72]:
Point(3, 4)

Point(3, 4)

In [73]:
Point(3, 4)

Point(3, 4)

https://docs.python.org/3.4/library/reprlib.html

__getattr__(self,name) – returns a field if it has not been found
__setattr__(self,name,value) – called when any field is set
__getattribute__(self,name) – called when accessing a field *DANGEROUS* *DO NOT USE*

In [74]:
import math

class Point:
    def __init__(self, x,y):
        self.x=x
        self.y=y
        self.closed=True
        
    def __setattr__(self, name, value):
        print(self.__dict__)        
        if 'closed' in self.__dict__.keys():
            print("No! You cannot set "+name)
        else:
            self.__dict__[name]=value
        
    @property
    def r(self):
        return math.sqrt(self.x*self.x + self.y*self.y)

In [75]:
p = Point(3,4)
p.x = 5

{}
{'x': 3}
{'x': 3, 'y': 4}
{'x': 3, 'y': 4, 'closed': True}
No! You cannot set x

---
## 2.6 The Flyweight Pattern <a id="flyweight"></a>

In [76]:
import weakref

class C:
    def method(self):
        print("method called!")

In [77]:
c = C()
r = weakref.ref(c.method)
r

In [78]:
r = weakref.WeakMethod(c.method)
r()

In [79]:
r()()

method called!

In [80]:
del c

In [81]:
c

NameError: name 'c' is not defined

In [82]:
r()

In [83]:
r()()

method called!

Method '__new__' will take class reference as the first argument followed by arguments which are passed 
to the constructor(Arguments passed to call of class to create instance). 
The  __new__ method is responsible with creating the instance, so you can use this method to customize object creation. 

Typically method __new__ will return the created instance object reference. 
Method __init__ will be called once __new__ method completed execution.

In [84]:
import weakref

values = ( '9', '10', 'J', 'Q', 'K', 'A')
suits = ('clubs', 'diamonds', 'hearts', 'spades')

class Card(object):
    def __init__(self, value, suit):
        self.value, self.suit = value, suit
    def __repr__(self):
        return "Card('%s','%s')" % (self.value, self.suit)
    def __eq__(self, card):
        return self.value == card.value and self.suit == card.suit
    def __ne__(self, card):
        return not self.__eq__(card)

    _CardPool = weakref.WeakValueDictionary()
    def __new__(cls, value, suit):
        obj = Card._CardPool.get(value + suit, None)
        if not obj:
            obj = object.__new__(cls)
            Card._CardPool[value + suit] = obj
            obj.value, obj.suit = value, suit
        return obj

In [85]:
c1 = Card('A', 'spades')

In [86]:
c1

Card('A','spades')

In [87]:
c2 = Card('A', 'spades')

In [88]:
id(c1)

2280955943904

In [89]:
id(c2)

2280955943904

---
### 2.7 Data classes

New in version 3.7.

In [90]:
from dataclasses import dataclass

@dataclass
class InventoryItem:
    """Class for keeping track of an item in inventory."""
    name: str
    unit_price: float
    quantity_on_hand: int = 0

    def total_cost(self) -> float:
        return self.unit_price * self.quantity_on_hand

```python

def __init__(self, name: str, unit_price: float, quantity_on_hand: int = 0):
    self.name = name
    self.unit_price = unit_price
    self.quantity_on_hand = quantity_on_hand

---
### 2.8 Named Tuples

In [91]:
from collections import namedtuple

Point = namedtuple('Point', ['x', 'y'])

p = Point(11, y=22)     # instantiate with positional or keyword arguments

In [92]:
p[0], p[1]

(11, 22)

In [93]:
x, y = p
x, y

(11, 22)

In [94]:
p.x, p.y

(11, 22)

In [95]:
p

Point(x=11, y=22)